<section class="footer ">
    <div class="bg-color">
    <div class="container py-4">
        <div class="row px-4 py-5">
            <div class="col-md-4">
                <div class="item text-white text-center">
                <h3 class="text-uppercase">location</h3>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item text-white text-center">
                <h3 class="text-uppercase">AROUND THE WEB</h3>
                <div class="icons">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
                    <i class="fa-solid fa-globe"></i>
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item text-white text-center">
                <h3 class="text-uppercase">ABOUT FREELANCER</h3>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="under-footer text-white text-center pt-4 pb-3">
        <p>Copyright © Your Website 2021</p>
     </div>
</section>
