<section class="home d-flex align-items-center">
    <div class="container">
        <div class="inner text-center text-white w-75 mx-auto">
            <img src="/imgsangular/avataaars.svg" alt="homeImg" />
        
            <h1 class="text-uppercase text-white fw-bold">start Framework</h1>
            <div>
                <div class="line-star"></div>
                <i class="fa-solid fa-star text-white"></i>
                <div class="line-star"></div>
                <p class="text-white p-4">Graphic Artist - Web Designer - Illustrator</p>
            </div>
        </div>
    </div>
</section>